.cabecalho {
    background-color: rgb(173, 164, 190);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
}
@keyframes degrade-animado {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 100%;
    }
    
}
.nome_artista {
    color: rgb(110, 102, 102);
    display: inline-block;
    font-size: 20px;
}
.botao-home {
    margin-top: 5px;
}
.box-degrade {
    width: 100%;
    background-image: linear-gradient(2500000deg, red, blue);
    background-size: 300% 100%;
    animation: degrade-animado 5s infinite alternate ;
}

.fotoart {
    width: 400px;
}

.coluna {
    justify-content: space-between;
    padding-top: 130px;
    column-count: 3;
}
.foto-artista {
    margin-left: 50px;
}

.texto-artista {
    color: aliceblue ;
    width: 500px;
    word-wrap: break-word;
    line-height: normal;
    margin: 100px;
}

.coluna2 {
    columns: 3;
    margin-top: 50px;
    margin-left: 50px;
}

.coluna3{
    columns: 3;
    color: aliceblue;
    margin-top: 50px;
    margin-left: 50px;
}

.tituloletras {
    font-size: 50px;
}